* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0 !important;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
  color: #7a5c1f;
}
/* Navbar =================================== */
#navbar {
  background-color: #f0f0f0 ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav-logo {
  width: 3rem;
  height: 3rem;
}
.mid-logo {
  height: 4rem;
  width: 10rem;
}
.navbar i {
  font-size: 1.5rem;
}
/* Offcanvas ======================================= */
.offcanvas {
  width: 50vw !important;
  font-weight: bold;
  font-size: 1rem;
}
.nav-link {
  color: #2c2c2c !important;
}

/* Main Section  =================================== */
#sortBtn{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: solid 0.2rem #392600;
    color: #392600;
    opacity: 0.8;
}
#sortBtn:hover{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: solid 0.2rem #392600;
    color: #392600;
    opacity: 0.8;
}


